@charset "UTF-8";
/*
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@media only all and (max-width:1200px) {/*기본 1025 + 패딩 20 이하 태블릿 */
	#main .container {padding:0 20px;}
}
@media only all and (max-width:1025px) {/*기본 1025 + 패딩 20 이하 태블릿 */
	#main .container {padding:0 20px;}
}
@media only all and (max-width:759px) {/*기본 759 + 패딩 15 이하 모바일 */
	#main .container {padding:0 15px;}
}
@media only all and (max-width:576px) {/*기본 759 + 패딩 15 이하 모바일 */
	#main .container {padding:0 15px;}
}
@media only all and (max-width:420px) {/*기본 759 + 패딩 15 이하 모바일 */
	#main .container {padding:0 15px;}
}
.iphone main {
    padding: 10px;
}

.android main {
    padding: 10px;
}


html, body { max-width: 100%;  }

body {background: #f8f5f4; font-family:'NotoSansKR';}
body .body-inner { margin: 0; padding: 0; }
h1 {font-size: 1.8rem; padding-bottom: 25px; margin: 0;}

.container {max-width: 1360px; position: relative; margin: 0 auto;}

#header {position: relative; width: 100%; height: 90px; line-height: 90px; background: #fff;border-bottom: 2px solid #ccc; z-index: 101;}s
#header .header-inner {}
#header .logo {float: left;}
/* #header .logo a {font-family: 'Poppins'; font-size: 4rem; color: #1e2022; font-weight: 800; letter-spacing: 1.5px;} */
#header .logo a {}
#header .logo img {width: 70px;}

#header .mainMenu {display: flex; position: absolute; right: 0;}
#header .mainMenu ul { padding: 0;}
#header .mainMenu ul li {display: inline-block; }
#header .mainMenu ul li {}
#header .mainMenu ul li a {display: inline-block; padding: 0 20px; font-family:'NotoSansKR'; font-size: 1.6rem; } 
#header .mainMenu ul li a:hover { color: #3662d8; text-decoration: none; } 
#header .mainMenu ul li:last-child a {} 

.ham { position: absolute; right: 20px; top: 30px; cursor: pointer; width: 30px; height: 30px; display: none;}
.ham span { width: 20px; height: 3px; background: #1e2022; display: block; position: absolute;left: 5px; top: 13px;}
.ham span::before {content: '';width: 20px; height: 3px;background: #1e2022; position: absolute; left: 0; top: 7px;}
.ham span::after { content: ''; width: 20px; height: 3px; background: #1e2022; position: absolute; left: 0; bottom: 7px;}


#footer {width: 100%; height:200px; background: #fff; border-top: 2px solid #ccc; }
#footer .footer-inner {}
#footer .logo {position: absolute; top: 35%;}
#footer .logo a {}
#footer .logo img {width: 180px;}
#footer .footerMenu {text-align: center; padding-top: 80px;}
#footer .footerMenu ul li {position: relative; display: inline; padding: 0 20px; white-space: nowrap;}
#footer .footerMenu ul li::after {position: absolute; content: ''; width: 1px;  height: 12px; background-color: #3c3c3c; left: 0; top: 2px;}
#footer .footerMenu ul li:first-child::after {width: 0;}
#footer .footerMenu ul li a {font-size: 1.6rem;}
#footer .footerMenu ul li a:hover {color: #3662d8;}

#footer .footerMenu address {padding-top: 8px;}

#footer .snsWrap {position: absolute; top: 45%; right: 0;}

#footer .snsWrap ul {}
#footer .snsWrap ul li {display: inline-block; width: 4.5rem; height: 4.5rem; background-repeat: no-repeat; margin-left: 10px;}
#footer .snsWrap ul li a {}



@media only all and (max-width:1200px) {/*기본 1025 + 패딩 20 이하 태블릿 */
	
}



@media only all and (max-width:1025px) {/*기본 1025 + 패딩 20 이하 태블릿 */
    /* .ham {display: block;}
    .mainMenu { position: absolute; top: 90px; background: #fff; width: 40vw; height: 100vh; display: none; z-index: 2;}
    .mainMenu.show {display: block;}
    .mainMenu ul { display: block; position: relative;  padding: 20px; z-index: 1;}
    .mainMenu ul::before {content: '';  left: 5px; top: 5px; position: absolute; z-index: -1;}
    .mainMenu li { padding: 5px; }
    .nav_bg {width: 100%; height: 100vh; background: #000;  opacity: .5; position: fixed; z-index: 1; right: 0; top: 0; display: none;}
    .nav_bg.block { display: block;} */

    #footer .logo img {width: 80%;}
    #footer .footerMenu ul li {padding: 0 12px;}
    #footer .footerMenu ul li a {font-size: 1.4rem;}
    #footer .footerMenu address {padding-top: 5px;}

    #footer .snsWrap {position: absolute; top: 45%; right: 0;}

    #footer .snsWrap ul li {margin: 0;}
    #footer .snsWrap ul li a img {width: 85%;}
}

@media only all and (max-width:759px) {/*기본 759 + 패딩 15 이하 모바일 */
	#footer .logo {top: 10%; left: 23%;}
    #footer .logo a {}
    #footer .logo img {width: 80%;}
    #footer .footerMenu {padding-top: 100px;}
    #footer .footerMenu ul li {padding: 0 12px;}
    #footer .footerMenu ul li a {font-size: 1.4rem;}
    #footer .footerMenu address {padding-top: 5px;}

    #footer .snsWrap {top: 25%; right: 23%;}

    #footer .snsWrap ul li {margin: 0;}
    #footer .snsWrap ul li a img {width: 80%;}
}
@media only all and (max-width:576px) {/*기본 576 + 패딩 15 이하 모바일 */
	#footer .logo {top: 10%; left: 10%;}
    #footer .logo img {width: 70%;}
    #footer .footerMenu {padding-top: 90px;}
    #footer .footerMenu ul li a {font-size: 1.1rem;}
    #footer .footerMenu ul li::after {content: ''; width: 1px;  height: 10px; left: 0; top: 6px;}
    #footer .footerMenu address {font-size: 1.1rem;}


    #footer .snsWrap {position: absolute; top: 25%; right: 10%;}

    #footer .snsWrap ul li {}
    #footer .snsWrap ul li a {}
    #footer .snsWrap ul li a img {width: 70%;}
}
    