@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@media only all and (max-width:1200px) {/*기본 1025 + 패딩 20 이하 태블릿 */
	#main .container {padding:0 20px;}
}
@media only all and (max-width:1025px) {/*기본 1025 + 패딩 20 이하 태블릿 */
	#main .container {padding:0 20px;}
}



@media only all and (max-width:759px) {/*기본 759 + 패딩 15 이하 모바일 */
	#main .container {padding:0 15px;}
}

@media only all and (max-width:576px) {/*기본 759 + 패딩 15 이하 모바일 */
	#main .container {padding:0 15px;}
}

@media only all and (max-width:420px) {/*기본 759 + 패딩 15 이하 모바일 */
	#main .container {padding:0 15px;}
}


#main {height: auto; margin: 50px 0; color: #141d38; overflow-x: hidden;}
#main .searchWrap {width: 100%; z-index: 100; }
#main .searchWrap .search-inner {position: relative;  }
#main .searchWrap .search-inner i {position: absolute; transform: translate(-50%, 65%); left: 30px; z-index: 10; font-size: 2rem;}
#main .searchWrap .search-inner .searchBar {display: flex;  position: absolute;  justify-content: space-between;  width: 87%; height: 50px; background: #fff; border: 1px solid #ccc; border-radius: 8px;}
#main .searchWrap .search-inner input[class="searchBar"] {font-size: 2rem; padding: 20px 50px; border: none; -webkit-appearance: none; overflow: auto; }

#main .searchWrap .search-inner input:focus {outline: none;}

#main .searchWrap .search-inner .searchBtn {display: inline-block; position: absolute; right: 0; padding: 15px 60px; background: #3E495D; border-radius: 8px; color: #fff;}

#main .searchWrap .regionWrap  {width: 100%; height: auto; display: flex; justify-content: flex-start; flex-wrap: wrap; padding-top: 60px;}
#main .searchWrap .regionWrap button { padding: 15px 90px; background: #9699a0; border-radius: 8px; color: #fff; margin: 5px 10px 5px 0; font-size: 1.8rem;}


#main #hotelWrap {display: block; padding-top: 10px;}
#main .hotelList {}
#main .hotelList .hotel-inner {}

.hotelList .hotel-inner ul {}
.hotelList .hotel-inner ul li {position: relative; width: 100%; height: 254px; border-radius: 8px; background: #fff; }
.hotelList .hotel-inner ul li a {display: flex;}

.hotelList .hotel-inner .hotels {margin-bottom: 30px;}
.hotelList .hotel-inner .hotels img { width: 382px; height: 254px; border-radius: 8px 0 0 8px;}



.hotelList .hotel-inner .hotels .info {padding-left: 20px; text-align: left;}
.hotelList .hotel-inner .hotels .info .info-left {position: relative; float: left; }
.hotelList .hotel-inner .hotels .info .info-left .hotelName {padding-top: 20px; font-size: 2rem; font-weight: 500; letter-spacing: 0.6px; text-align: left;}
.hotelList .hotel-inner .hotels .info .info-left .hotelAddress {font-size: 1.6rem; font-weight: 300;}
.hotelList .hotel-inner .hotels .info .info-left .hotelEx {width: 500px; padding: 10px 0px; font-size: 1.4rem; }

.hotelList .hotel-inner .hotels .info .info-left .notice {font-size: 1.4rem; padding: 20px 0 2px;}
.hotelList .hotel-inner .hotels .info .info-left .notice .stan1 {display: block; color: #318672;  letter-spacing: 0.42px; }
.hotelList .hotel-inner .hotels .info .info-left .notice .grade {display: inline-block;}
.hotelList .hotel-inner .hotels .info .info-left .notice .review {display: inline-block;}


.hotelList .hotel-inner .hotels .info .info-right { position: absolute; bottom: 80px; right: 20px; text-align: right;}
.hotelList .hotel-inner .hotels .info .info-right .hotelPrice {font-size: 2.4rem; font-weight: bold;}
.hotelList .hotel-inner .hotels .info .info-right .stan2 {display: block;}
.hotelList .hotel-inner .hotels .info .info-right .tax {display: block; }
.hotelList .hotel-inner .hotels .info .inqBtn {position: absolute; display: inline-block; background: #9699a0; padding: 15px 47px; color: #fff; border-radius: 8px; bottom: 20px; right: 20px;}


@media only all and (max-width:1200px){
	#main .searchWrap .search-inner .searchBar {width: 85%;}

    
}

@media only all and (max-width:1179px){
	#main .searchWrap .search-inner .searchBar {width: 83%;}
    

    .hotelList .hotel-inner .hotels .info .info-right {bottom: 20px; right: 180px;}
    .hotelList .hotel-inner .hotels .info .info-right .hotelPrice {display: block; font-size: 2rem}
    .hotelList .hotel-inner .hotels .info .info-right .stan2 {display: none;}
    .hotelList .hotel-inner .hotels .info .info-right .tax { display: inline-block;}

}

@media only all and (max-width:1025px) {/*기본 1025 + 패딩 20 이하 태블릿 */
    #main .searchWrap .search-inner .searchBar {width: 81%;}
    
    .hotelList .hotel-inner .hotels .info .info-left .hotelEx {width: 400px; }
    .hotelList .hotel-inner .hotels .info .info-left .notice {padding: 0px; }
    .hotelList .hotel-inner .hotels .info .info-left .notice .grade {display: block;}
    .hotelList .hotel-inner .hotels .info .info-left {display: block; bottom: 10px;}

    .hotelList .hotel-inner .hotels .info .info-right {bottom: 20px; right: 165px;}
    .hotelList .hotel-inner .hotels .info .info-right .hotelPrice {display: block;}
    .hotelList .hotel-inner .hotels .info .info-right .stan2 {display: none;}
    .hotelList .hotel-inner .hotels .info .info-right .tax { display: inline-block;}
    .hotelList .hotel-inner .hotels .info .inqBtn {padding: 13px 40px; bottom: 20px; right: 20px;}
    #main .searchWrap .regionWrap button { padding: 10px 70px; font-size: 1.5rem;}
}


@media only all and (max-width:890px){
    #main .searchWrap .search-inner .searchBar {width: 80%;}
    #main .searchWrap .regionWrap button { padding: 10px 55px; font-size: 1.5rem;}

    .hotelList .hotel-inner ul li {width: 100%; height: 280px; }
    .hotelList .hotel-inner ul li a {height: 280px;}
    .hotelList .hotel-inner .hotels img {width: 45%; height: 100%;}
    .hotelList .hotel-inner .hotels .info .info-left .hotelEx {width: 350px; }


    .hotelList .hotel-inner .hotels .info .info-left .notice {display: none;}

    .hotelList .hotel-inner .hotels .info .info-right {bottom: 20px; right: 170px;}
    .hotelList .hotel-inner .hotels .info .info-right .hotelPrice {font-size: 1.8rem;}
    .hotelList .hotel-inner .hotels .info .info-right .tax {font-size: 1.2rem;}

    
}

@media only all and (max-width:790px){
    #main .searchWrap .search-inner .searchBar {width: 76%;}
    #main .searchWrap .regionWrap button { padding: 10px 50px; font-size: 1.5rem;}

    .hotelList .hotel-inner .hotels img {width: 50%; height: 100%;}
    .hotelList .hotel-inner .hotels .info .info-left .hotelEx {width: 300px; }

    
}

@media only all and (max-width:759px) {/*기본 759 + 패딩 15 이하 모바일 */
	#main .search-inner .searchBar {width: 70%;}
    #main .searchWrap .regionWrap button { padding: 10px 45px; font-size: 1.5rem;}

    .hotelList .hotel-inner .hotels .info .inqBtn {padding: 10px 30px;}
    .hotelList .hotel-inner .hotels .info .info-right { right: 150px;}
    

    
}

@media only all and (max-width:560px) {/*기본 560 + 패딩 15 이하 모바일 */
    #main .container {padding:0 20px;}
    #main .searchWrap .search-inner .searchBar {width: 100%;}
    #main .searchWrap .search-inner .searchBtn {display: none;}

    .hotelList .hotel-inner ul li { width: 450px; height: 560px;}
    .hotelList .hotel-inner ul li a {display: inline-block; width: 100%;}
    
    
    .hotelList .hotel-inner .hotels img { width: 100%; height: 254px; border-radius: 8px 8px 0 0;}
    .hotelList .hotel-inner .hotels .info .info-left .hotelEx {width: 90%; }
    .hotelList .hotel-inner .hotels .info .info-left .notice { display: inline-block; font-size: 1.4rem; padding: 30px 0;}
    .hotelList .hotel-inner .hotels .info .info-right {bottom: 75px; right: 20px;}
    .hotelList .hotel-inner .hotels .info .inqBtn {padding: 13px 50px; bottom: 20px; right: 20px;}

    #main .searchWrap .regionWrap button { padding: 10px 45px; font-size: 1.5rem;}
}
@media only all and (max-device-width:420px) {/*기본 420 + 패딩 15 이하 모바일 */
    
    #main .searchWrap .search-inner .searchBar {width: 100%;}
    #main .searchWrap .search-inner .searchBtn {display: none;}
    #main .searchWrap .search-inner .searchBar i {font-size: 2.5rem; padding: 10px 20px;}
    #main .searchWrap .search-inner .searchBar i span {font-size: 1.8rem; }
    

    .hotelList .hotel-inner ul li { width: 100%; height: 580px;}
    .hotelList .hotel-inner .hotels img { border-radius: 8px 8px 0 0;}

    .hotelList .hotel-inner .hotels .info .info-left .hotelEx {width: 95%; }
    .hotelList .hotel-inner .hotels .info .info-left .notice {padding: 60px 0 0;}
    .hotelList .hotel-inner .hotels .info .info-right {bottom: 75px; right: 20px;}
    .hotelList .hotel-inner .hotels .info .inqBtn {padding: 13px 50px; bottom: 20px; right: 20px;}
}




