.iphone main {
    padding: 10px;
}

.android main {
    padding: 10px;
}

#modal { 
    position: fixed; 
    left: 0; top: 0; 
    width: 100%; height: 100vh; 
    z-index: 1000; 
    -webkit-transform: scale(0); 
    transform: scale(0);
    overflow-y: auto;
}
  
#modal .modal-bg {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  
  
  #modal .modal-bg .modal-cont .closeBtn {
    display: inline-block;
    font-size: 2.5rem;
    /* top: 2%;
    right: 5%;
    position: absolute; */
    float: right;
    margin: -10px 20px 0 0;
    color: #000;
    cursor: pointer;
    background: transparent;
  }
  
  #modal.show {
    -webkit-animation: unfoldIn 1s ease forwards;
            animation: unfoldIn 1s ease forwards;
  }
  
  @-webkit-keyframes unfoldIn {
    0% {
      -webkit-transform: scaley(0.005) scalex(0);
              transform: scaley(0.005) scalex(0);
    }
    50% {
      -webkit-transform: scaley(0.005) scalex(1);
              transform: scaley(0.005) scalex(1);
    }
    100% {
      -webkit-transform: scaley(1) scalex(1);
              transform: scaley(1) scalex(1);
    }
  }
  
  @keyframes unfoldIn {
    0% {
      -webkit-transform: scaley(0.005) scalex(0);
              transform: scaley(0.005) scalex(0);
    }
    50% {
      -webkit-transform: scaley(0.005) scalex(1);
              transform: scaley(0.005) scalex(1);
    }
    100% {
      -webkit-transform: scaley(1) scalex(1);
              transform: scaley(1) scalex(1);
    }
  }
  
  #modal.show.hide {
    -webkit-animation: unfoldOut 1s ease forwards;
            animation: unfoldOut 1s ease forwards;
  }
  
  @-webkit-keyframes unfoldOut {
    0% {
      -webkit-transform: scaley(1) scalex(1);
              transform: scaley(1) scalex(1);
    }
    50% {
      -webkit-transform: scaley(0.005) scalex(1);
              transform: scaley(0.005) scalex(1);
    }
    100% {
      -webkit-transform: scaley(0.005) scalex(0);
              transform: scaley(0.005) scalex(0);
    }
  }
  
  @keyframes unfoldOut {
    0% {
      -webkit-transform: scaley(1) scalex(1);
              transform: scaley(1) scalex(1);
    }
    50% {
      -webkit-transform: scaley(0.005) scalex(1);
              transform: scaley(0.005) scalex(1);
    }
    100% {
      -webkit-transform: scaley(0.005) scalex(0);
              transform: scaley(0.005) scalex(0);
    }
  }
  
  #modal.show .modal-bg .modal-cont {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
            animation: zoomIn 0.5s 0.8s ease forwards;
  }
  
  #modal.show.hide .modal-bg .modal-cont {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation: zoomOut 0.5s ease forwards;
            animation: zoomOut 0.5s ease forwards;
  }
  
  @-webkit-keyframes zoomIn {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes zoomIn {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @-webkit-keyframes zoomOut {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  
  @keyframes zoomOut {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  
.modal-view {
    background: #fff;
    min-width: 350px;
    width: 30vw;
    height: 80vh;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    overflow: hidden;

}
.modal-view .inqWrap {
    padding: 20px;
}
.modal-view .view-header {
    border-bottom: 1px solid #b1b1b1;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 0;
    font-weight: 700;
}


.modal-view .servInq {
    margin-bottom: 40px;
}
.modal-view span {
    display: inline-block;
    font-size: 1.8rem; 
    font-weight: 700; 
    padding-bottom: 10px; 
}

  
.modal-view .servInq ul {
    list-style: disc;
}


.modal-view .servInq ul li {
    display:list-item;
    list-style-position: inside;
    font-weight: normal;
    font-size: 1.6rem;
    padding: 5px 0;
   
}
.modal-view .servInq ul li a {
    margin-left: -5px;
    cursor: text;
}


.modal-view .servInq li i {
    color: #5a8a98;
}


.modal-view .onlineInq {
    background: #F8F8F9;
}
.modal-view .onlineInq ul li {}
.modal-view .onlineInq ul li input {
    width: 100%; height: 50px; 
    border-radius: 5px; 
    margin: 10px 0px; 
    border: 1px solid rgb(155, 155, 155);
    font-weight: normal;
    font-size: 1.6rem;
    padding: 10px 20px;
    -webkit-appearance: none;
    overflow: auto;
}

.modal-view .onlineInq .online {
    background: #3E495D;
    color: #fff;
    font-size: 1.6rem;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
  

  @media (max-width: 800px) {
    
    #modal {
      
      /* position: absolute;
      left: 0;
      top: 0; */
    }
    #modal .modal-cont {
     
    }

    #modal .modal-bg .modal-cont .closeBtn {

        cursor: pointer;
    }

    .modal-view {
      overflow-y: auto;
    }
    
    
  }
  