<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="WaffleStay" />
    <meta name="description" content="와플스테이">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>와플스테이 결제완료</title>

    <!-- Stylesheets -->
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/payment.css" rel="stylesheet">


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="wrap">
        <!-- body inner -->
        <div class="body-inner">
            <!-- header -->
            <header id="header">
                <div class="header-inner">
                    <div class="container">
                        <!-- logo -->
                        <div class="logo">
                            <a href="../longstay_index.html">WaffleStay</a>
                        </div>
                        <!-- logo -->

                        <!-- nav -->
                        <nav class="mainMenu">
                            <ul>
                                <li><a href="#c">내 여행</a></li>
                                <li><a href="#c">로그인</a></li>
                            </ul>
                        </nav>
                        <div class="ham">
                            <span></span>
                        </div>
                        <div class="nav_bg"></div>
                        <!-- nav -->
                    </div>
                </div>
            </header>
            <!-- header -->

            <!--main-->
            <main id="main">

                <div class="container">
                    <section id="payWrap">
                        
                        <div class="payBox">
                            <div class="payTitK">예약완료</div>
                            <span class="payTitE">Payment Complete</span>
                            <div class="guideTxt"><i class="green">결제가 완료</i>되었습니다.<br>이용해 주셔서 감사합니다.</div>
                            <div class="comIcon"></div>

                            <div class="payIn1">
                                <div class="pay-inner">
                                    <ul class="priceTxt">결제금액
                                        <li class="price">100,000원</li>
                                    </ul>
                                    <ul class="method">결제수단
                                        <li class="card">신용카드/체크카드</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="btnWrap">
                                <button class="shortcutBtn">예약내역 바로가기</button>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
            <!--main-->
        </div>
        <!-- body inner -->
    </div>
</body>

</html>